# Immutable DS

In [2]:
# Using iNDEX
s="I love LJU"
print(s[0])
print(s[-2])

I
J

# slicing operators

In [6]:
s ="Learning Python is very easy!!"
print(s[1:7:1])
print(s[1:7:2])
print(s[1:7])
print(s[:7:])
print(s[9:])
print(s[::])
print(s[:])
print(s[::-1])
print(s[-1:-4:-1])

earnin
eri
earnin
Learnin
Python is very easy!!
Learning Python is very easy!!
Learning Python is very easy!!
!!ysae yrev si nohtyP gninraeL
!!y

In [10]:
print("YASHVI" + "SHAH")
print("YASHVI" *3)

YASHVISHAH
YASHVIYASHVIYASHVI

In [ ]:
#COmparison operATOR
s1 =input("Enter Your string :")
s2 =input("Enter Your string :")
if s1==s2:
    print("Both String is Equal")
elif s1<s2:
    print("Second String is greater")
else:
    print("First string is greater")

#JOINING OF STRING
#s=separator.join(group of string)

In [2]:
t=("Apple","Banana","Cherry")
s="-".join(t)
print(s)

Apple-Banana-Cherry

In [5]:
#Formatting of string
name="Yashvi"
salary = 500000
age =20
print("{}'s salary {} and his age {}".format(name,salary,age))
print("{}'s salary {} and his age ".format(name,salary,age))
print("{1}'s salary {2} and his age {0}".format(name,salary,age))

Yashvi's salary 500000 and his age 20
Yashvi's salary 500000 and his age
500000's salary 20 and his age Yashvi

In [8]:
#length of string
a ="LJU IS Boghas"
print(len(a))

13

In [20]:
#Removing spaces from string
#rstrip()
t ="YAshvi  "
x=t.rstrip()
print(len(t))
print(len(x))


t ="Yashvi"
x=t.rstrip("iv")
print(len(t))
print(len(x))


t ="bandana"
x=t.rstrip("an")
print(len(t))
print(len(x))

8
6
6
4
7
4

In [14]:
#lstrip()
t ="  Yashvi"
x=t.lstrip()
print(len(t))
print(len(x))

8
6

In [24]:
#strip()
t ="bandana  "
x=t.strip("abn")
print(len(t))
print(len(x))

9
6

In [33]:
# upper() lower() swapcase() upper hasa to lower krsa // title() staring na badha j words na Capital krssa
#capitailze() First word of sentence
t = "hello"
x=t.upper()
print(x)

t = "HELLO"
x=t.lower()
print(x)

t = "Hello My name is Yashvi"
x=t.swapcase()
print(x)

t = "welcome to LJIET"
x=t.title()
print(x)

t = "hello Yas"
x=t.capitalize()
print(x)

HELLO
hello
hELLO mY NAME IS yASHVI
Welcome To Ljiet
Hello yas

In [38]:
#isalnum (a to c, A to Z , 0-9)
t = "hello123 "
x=t.isalnum()
print(x)

False

In [43]:
#isalpha (a to c, A to Z)
t = "hello"
x=t.isalpha()
print(x)

True

In [47]:
#isdigit() // isnumeric()
t = "20536"
x=t.isdigit()
print(x)


t = "20536a"
x=t.isnumeric()
print(x)

True
False

In [52]:
#islower() isupper()
t = "hello"
x=t.isupper()
print(x)

t = "hello"
x=t.islower()
print(x)

False
True

In [56]:
#istitle()
a ="HELLO HOW ARE YOU?"
b="Hello"
c="22 Names"
d="This Is @ %"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [60]:
#isidentifier
a ="HELLO HOW ARE YOU?"
b="Hello22"
c="22 Names"
d="ThiIs@%"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

False
True
False
False

In [63]:
#isspace()
a ="  "
b =a.isspace()
print(b)

True

In [70]:
s= "Pyt@$ho%n is 12 very Ea$sy"
print(len(s))
l=0
d=0
sp=0
sc=0
up=0
lo=0
for i in s:
    if i.isalpha():
        l+=1
    if i.isdigit():
        d+=1
    if i.isspace():
        sp+=1
    if i.isalnum==False and i.isspace==False:
        sc+=1
    if i.isupper():
        up+=1
    if i.islower():
        lo+=1
print(l)
print(d)
print(sp)
print(sc)
print(up)
print(lo)

26
16
2
4
0
2
14

In [71]:
#find()
s= "Learning python is very easy"
print(s.find("a"))
print(s.find("a",3,100))

2
25