# Immutable DS

In [2]:
# Using iNDEX
s="I love LJU"
print(s[0])
print(s[-2])

I
J

# slicing operators

In [6]:
s ="Learning Python is very easy!!"
print(s[1:7:1])
print(s[1:7:2])
print(s[1:7])
print(s[:7:])
print(s[9:])
print(s[::])
print(s[:])
print(s[::-1])
print(s[-1:-4:-1])

earnin
eri
earnin
Learnin
Python is very easy!!
Learning Python is very easy!!
Learning Python is very easy!!
!!ysae yrev si nohtyP gninraeL
!!y

In [10]:
print("YASHVI" + "SHAH")
print("YASHVI" *3)

YASHVISHAH
YASHVIYASHVIYASHVI

In [ ]:
#COmparison operATOR
s1 =input("Enter Your string :")
s2 =input("Enter Your string :")
if s1==s2:
    print("Both String is Equal")
elif s1<s2:
    print("Second String is greater")
else:
    print("First string is greater")

#JOINING OF STRING
#s=separator.join(group of string)

In [2]:
t=("Apple","Banana","Cherry")
s="-".join(t)
print(s)

Apple-Banana-Cherry

In [5]:
#Formatting of string
name="Yashvi"
salary = 500000
age =20
print("{}'s salary {} and his age {}".format(name,salary,age))
print("{}'s salary {} and his age ".format(name,salary,age))
print("{1}'s salary {2} and his age {0}".format(name,salary,age))

Yashvi's salary 500000 and his age 20
Yashvi's salary 500000 and his age
500000's salary 20 and his age Yashvi

In [8]:
#length of string
a ="LJU IS Boghas"
print(len(a))

13

In [20]:
#Removing spaces from string
#rstrip()
t ="YAshvi  "
x=t.rstrip()
print(len(t))
print(len(x))


t ="Yashvi"
x=t.rstrip("iv")
print(len(t))
print(len(x))


t ="bandana"
x=t.rstrip("an")
print(len(t))
print(len(x))

8
6
6
4
7
4

In [14]:
#lstrip()
t ="  Yashvi"
x=t.lstrip()
print(len(t))
print(len(x))

8
6

In [24]:
#strip()
t ="bandana  "
x=t.strip("abn")
print(len(t))
print(len(x))

9
6

In [33]:
# upper() lower() swapcase() upper hasa to lower krsa // title() staring na badha j words na Capital krssa
#capitailze() First word of sentence
t = "hello"
x=t.upper()
print(x)

t = "HELLO"
x=t.lower()
print(x)

t = "Hello My name is Yashvi"
x=t.swapcase()
print(x)

t = "welcome to LJIET"
x=t.title()
print(x)

t = "hello Yas"
x=t.capitalize()
print(x)

HELLO
hello
hELLO mY NAME IS yASHVI
Welcome To Ljiet
Hello yas

In [38]:
#isalnum (a to c, A to Z , 0-9)
t = "hello123 "
x=t.isalnum()
print(x)

False

In [43]:
#isalpha (a to c, A to Z)
t = "hello"
x=t.isalpha()
print(x)

True

In [47]:
#isdigit() // isnumeric()
t = "20536"
x=t.isdigit()
print(x)


t = "20536a"
x=t.isnumeric()
print(x)

True
False

In [52]:
#islower() isupper()
t = "hello"
x=t.isupper()
print(x)

t = "hello"
x=t.islower()
print(x)

False
True

In [56]:
#istitle()
a ="HELLO HOW ARE YOU?"
b="Hello"
c="22 Names"
d="This Is @ %"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [60]:
#isidentifier
a ="HELLO HOW ARE YOU?"
b="Hello22"
c="22 Names"
d="ThiIs@%"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

False
True
False
False

In [63]:
#isspace()
a ="  "
b =a.isspace()
print(b)

True

In [7]:
s= "Pyt@$ho%n is 12 very Ea$sy"
print(len(s))
l=0
d=0
sp=0
sc=0
up=0
lo=0
for i in s:
    if i.isalpha():
        l+=1
    if i.isdigit():
        d+=1
    if i.isspace():
        sp+=1
    if i.isalnum==False and i.isspace==False:
        sc+=1
    if i.isupper():
        up+=1
    if i.islower():
        lo+=1
print(l)
print(d)
print(sp)
print(sc)
print(up)
print(lo)

26
16
2
4
0
2
14

In [1]:
#find()
s= "Learning python is very easy"
print(s.find("a"))
print(s.find("a",3,100))

2
25

In [8]:
# count()
s ="abcdefabcabegh"
b ="YAshvi shah shah"
print(s.count("a", 3,10))
print(s.count("h"))
print(b.count("shah"))

2
1
2

In [18]:
#replace()
b ="Yashvi shah shah "
#a = b.replace("shah","Desai")
a=b.replace("a","A",3)
print(a)

YAshvi shAh shAh

In [38]:
#split() total words
s="i love lju ki kiii"
l=s.split()
c=0
for i in l:
    c+=1
print(l)
print(c)

['i', 'love', 'lju', 'ki', 'kiii']
5

In [39]:
s="10-04-2024"
l=s.split("4")
print(l)

['10-0', '-202', '']

In [55]:
#punctuation remove
import string
print(string.punctuation)
#print(len(string.punctuation))
#print(str.maketrans("a","y",string.punctuation))
print(str.maketrans("ah","yb","$@"))

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
{97: 121, 104: 98, 36: None, 64: None}

In [59]:
import string
s="Lear@ning pyt@h$^on i!s very ea@sy"
t=s.maketrans("a","b",string.punctuation)
x=s.translate(t)
print(x)

Lebrning python is very ebsy

In [61]:
t="Hi Sam!!"
x="mSa"
y="eJo"
mytable=t.maketrans(x,y)
print(t.translate(mytable))

Hi Joe!!

# Tuple

In [70]:
t=(1,2,3)
t1=(10)
print(type(t1))
u=tuple(range(10,20,2))
print(u)

<class 'int'>
(10, 12, 14, 16, 18)

In [75]:
t=(10,20,30,40,50,60)
print(t[-1:-4])
print(t[::2])
print(t[3:100])
print(t[2:5])

()
(10, 30, 50)
(40, 50, 60)
(30, 40, 50)

In [77]:
t=(10,20,30,40,50)
t[2]=70
print(t)

TypeError: 'tuple' object does not support item assignment

In [80]:
t1 =(10,20,30)
t2=(40,50,60)
t=t1+t2
print(t)
x=t1*2
print(x)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30)

In [82]:
#len()
t2=(40,50,60)
print(len(t2))

3

In [87]:
#count()
t2=(40,50,50,60,80,60)
print(t2.count(50))
#print(t.count(100))

2

In [91]:
#index()
t2=(50,40,50,50,60)
print(t2.index(50))

0

In [99]:
#sorted
t2=(40,50,60,10,20,30)
t=sorted(t2,reverse=True)
t1=sorted(t2)
print(t)
print(t1)

[60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60]

In [103]:
#min() max()
t2=(40,50,60,10,20,30)
print(min(t2))
print(max(t2))

10
60

In [107]:
#tuple packing
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

In [109]:
#tuple unpacking
a=10
b=20
c=30
d=40
a,b,c,d=t
print(a,b,c,d)

10 20 30 40

In [112]:
t=(10, 20, 30, 40)
a,b,c=t
print(a,b,c)

ValueError: too many values to unpack (expected 3)

In [117]:
t=("abc","xyz","hij")
for i in range(len(t)):
    print(t[i])
for i in t:
    print(i)

abc
xyz
hij
abc
xyz
hij

In [5]:
t=("abc","xyz","hij")
i =0
while i<len(t):
    
    print(t[i])
    i+=1

abc
xyz
hij

In [ ]:
#reversed()
s="python"
print(list(reversed(s)))
x=('p', 'y', 't', 'h', 'o', 'n')
print(list(reversed(x)))
y=range(5,9)
print(list(reversed(y)))
z=[10,20,30,40]
print(list(reversed(z)))

In [ ]:
#enumerate()
l=("eattttttt,sleeppppp","repeattttttt")
print(list(enumerate(l))

In [8]:
#WAP to remove i th character from string
s =input("Enter String:")
n =int(input("Enter index:"))
x =s[:n] +s[n+1:]
print(x)

Enter String:heetu
Enter index:2
hetu

In [2]:
#WAP to find all occurence of a substring in a given by ingoring the case
s ="welcome to USA usa is aws Usain in from USA"
sub = input("Enter substring in lower u have to find :")
s=s.lower()
print(s.count(sub))

Enter substring in lower u have to find :usa
4

In [13]:
#wap to calculate sum and avg of the digits present in a string
s=" Pyt@$123th%4237"
c= 0
sum=0
for i in s:
    if i.isdigit():
        sum+=int(i)
        c+=1
    
print("sum is",sum)
print("Avg is",sum/c)

sum is 22
Avg is 3.142857142857143

In [26]:
#wap to replace each special symbol wiht # in ggiven string
import string
s=" Pyt@$123th%4237"
for i in string.punctuation:
    s=s.replace(i,"#")
print(s)

 Pyt##123th#4237

In [34]:
#wap to print min max element in a given tuple with use of min max ()
t =(10,20,30,5,50)
max=t[0]
min=t[0]
for i in t:
    if i<min:
        min=i
    if i>max:
        max=i
 
        
print(max,min)

50 5

In [51]:
#wap to print even lenght words in a given string
s="Welcome to Lj University"
l=s.split()
for i in l:
    if len(i)%2==0:
        print(i,end=" ")

to Lj University

In [65]:
# wap to uppercase the half string
s= "University"
print(s[:len(s)//2].upper() + s[len(s)//2:])

UNIVErsity

In [75]:
#wap to capatilize first and last letter of each word
s  = "good morning lj"
s=s.title()
r =""
for x in s.split():
    r+=x[:-1]+x[-1].upper()+" "
print(r)

GooD MorninG LJ

In [81]:
#wap to check if two string are balanced
s1 ="abcd"
s2="abcxy"
flag =0
for i in s1:
    if i in s2:
        continue
    else:
        flag =1
        break
if flag==1:
    print("Not")
else:
    print("Yess")

Not

In [ ]:
#wap to shift the decimal digits and palces to the left wrapping the extra digit around if shift is grater then the no of digit then reverse the digit
n = int(input("Enter Number :"))
shift = int(input("Enter No of shift :"))
a=str(n)
print()
if shift>len(a):
    r=a[::-1]
else:
    r=a[shift:]+a[:shift]
print(r)

In [ ]:
#wap to check validet of password
#mininmum no is 8
#The aplhabets must be bet(a-z)
#atlest one alphate should be uppercase
#atlest one digit betw(0-9)
#Atlest one charecter from(_ @ $)
a=input("Enter Password:")
d=0
sc=0
up=0
lo=0
if len(a)>=8:
    for i in a:
        if i.isdigit():
            d+=1
        if i.isupper():
            up+=1
        if i.islower():
            lo+=1
        if i=="_" or i=="@" or i=="$":
            sc+=1
    if lo>=1 and up>=1 and sc>=1 and d+up+lo+sc==len(a):
        print("valid")
    else:
        print("Invalid")
else:
    print("Invalid")

In [ ]:
#wap to display all position of a substring in a given string
a=input("Enter String :")
subs=input("Enter Substring u want :")
flag=0
x=-1
n=len(a)
a=a.lower()
while True:
    x=a.find(subs,x+1,n)
    if x==-1:
        break
    print("found at pos",x)
    flag=1
if flag==0:
    print("Not found")
print("Total Occurence",a.count(subs))

In [6]:
#wap to short the charcter of string and first alphabate symbol
s=input("Enter String :")
s1=s2=output=""
for x in s:
    if x.isalpha():
        s1+=x
    if x.isdigit():
        s2+=x
for x in sorted(s1):
    output+=x
for x in sorted(s2):
    output+=x
print(output)

Enter String :A12B
AB12

# CH-5 Mutable DS (list,dict,set)

# List

In [ ]:
#dynamic input
l=eval(input("Enter Data:"))
print(l)
print(type(l))

In [ ]:
l=list(range(1,20,2))
s="arman"
x=list(s)
print(x)

In [14]:
#list mutability
l=[1,2,3]
l[2]=5
print(l)

[1, 2, 5]

In [17]:
#by index and slicing operator
l=[10,20,30,40,50]
print(l[3])
print(l[2:100])
print(l[:4])
print(l[-1-5:-1])

40
[30, 40, 50]
[10, 20, 30, 40]
[10, 20, 30, 40]

In [19]:
#len()
n=[1,2,3]
print(len(n))

3

In [23]:
#count()
n=[1,2,3,3]
print(n.count(3))

2

In [25]:
#index
n=[1,2,3,2]
print(n.index(2))

1

In [27]:
#append() add at the last of the list
l=["A","B"]
l.append("C")
l.append("D")
print(l)

['A', 'B', 'C', 'D']

In [33]:
#insert() by indexing (index,value)
l=[10,20,30]
l.insert(1,28)
print(l)
l.insert(10,40)
print(l)
l.insert(-1,33)
print(l)

[10, 28, 20, 30]
[10, 28, 20, 30, 40]
[10, 28, 20, 30, 33, 40]

In [4]:
#extend()
l1=["Apple","Cherry"]
l2=["Banana","Mango"]
l1.extend(l2)
l2.extend(l1)
print(l1)
print(l2)

['Apple', 'Cherry', 'Banana', 'Mango']
['Banana', 'Mango', 'Apple', 'Cherry', 'Banana', 'Mango']

In [10]:
#remove
l=[1,2,3,-1]
l.remove(1)
print(l)
#l.remove(4)
l.remove(-1)
print(l)

[2, 3, -1]
[2, 3]

In [17]:
#pop()
n=[1,2,3,4]
print(n.pop())
print(n)
print(n.pop(1))
print(n)
print(n.pop())
print(n)

4
[1, 2, 3]
2
[1, 3]
3
[1]

In [19]:
#clear()
n=[1,2,3,4]
n.clear()
print(n)

[]

In [24]:
#reverse()
n=[1,2,3,4]
n.reverse()
print(n)

[4, 3, 2, 1]

In [27]:
#sort()
n=[1,0,3,4]
n.sort(reverse=True)
print(n)

[4, 3, 1, 0]

# Mathemarical operators

In [2]:
a=[1,2,3]
b=[4,5,6]
print(a+b)
print(a+[4])
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [12]:
#comparison operator for list
x=["Dog","Cat","Rat"]
y=["Dog","Cat","Rat"]
z=["DOG","CAT","RAT"]
print(x==y)
print(x==z)
print(x!=z)

True
False
True

In [11]:
x=["Dog","Cat","Rat"]
y=["Rat","Cat", "Dog"]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

In [13]:
x=[50,20,30]
y=[50,20,30,100,200]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

In [20]:
#membership operator
n=[10,20,30,40]
print(10 in n)
print(40 in n)
print(50 in n)
print(40 not in n)

True
True
False
False

In [21]:
#Aliasing and cloning of list
n=[10,20,30,40,50]
x=n[:] # or n.copy()
print(x)
x[2]=100
print(x)
print(n)

[10, 20, 30, 40, 50]
[10, 20, 100, 40, 50]
[10, 20, 30, 40, 50]

In [27]:
#nested list
n=[10,20,[30,40],[50,60,[100,200]]]
print(n[0])
print(n[2])
print(n[3][0])
print(n[2][1])
print(n[3][2][0])

10
[30, 40]
50
40
100

In [39]:
#Nested list as Matric
n=[[10,20,30],[40,50,60],[70,80,90]]
for i in n:
    print(i)

for i in range(len(n)):
    for j in range(len(n[i])):
        print(n[i][j],end=" ")
    print()

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
10 20 30
40 50 60
70 80 90

In [48]:
#list comprehension
s=[x*x for x in range(1,11)]
a=[2**x for x in range(1,6)]
n=[x for x in s if x%2==0]
print(n)
print(s)
print(a)

[4, 16, 36, 64, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]

In [62]:
#wap to print largest even and largest odd number 
n=eval(input("Enter Data:"))
for i in range(len(n)):
    if n[i]%2==0:
        maxe=n[i]
    if n[i]%2==1:
        maxo=n[i]
for i in range(len(n)):
    if n[i]>= maxe and n[i]%2==0:
        maxe=n[i]
    if n[i]>= maxo and n[i]%2==1:
        max0=n[i]
print(maxe)
print(maxo)

Enter Data:[2, 4, 8, 16, 32,132]
132
685

# Dictionary

In [68]:
d={}
d[10]="lucky"
d[20]="Aryan"
print(d)
print(d[20])
#print(d[40]) #keyerror

{10: 'lucky', 20: 'Aryan'}
Aryan

In [72]:
d={10: 'lucky', 20: 'Aryan',30:"Yashvi"}
d[10]="Vidhi"
d[20]="Harsh"
print(d)

{10: 'Vidhi', 20: 'Harsh', 30: 'Yashvi'}

In [76]:
#del()
d={10: 'lucky', 20: 'Aryan',30:"Yashvi"}
del d[10] #delete the pair with key
print(d)

{20: 'Aryan', 30: 'Yashvi'}

In [78]:
#dictonary comprehension
s={x:x*x for x in range(1,6)}
print(s)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [84]:
#dictonary
d= dict([(1,"Y"),(2,"H"),(3,"S"),(4,"V")])
print(d)
print(len(d))

{1: 'Y', 2: 'H', 3: 'S', 4: 'V'}
4

In [90]:
d= dict([(1,"Y"),(2,"H"),(3,"S"),(4,"V")])
x=d.copy()
print(x)
x[2]="B"
print(x)
print(d)

{1: 'Y', 2: 'H', 3: 'S', 4: 'V'}
{1: 'Y', 2: 'B', 3: 'S', 4: 'V'}
{1: 'Y', 2: 'H', 3: 'S', 4: 'V'}

In [93]:
#update()
d= dict([(1,"Y"),(2,"H"),(3,"S"),(4,"V")])
x={5:"p",3:"j"}
d.update(x)
print(d)

{1: 'Y', 2: 'H', 3: 'j', 4: 'V', 5: 'p'}

In [102]:
#get()
d={5:"p",3:"j"}
print(d.get(3))
print(d.get(5))
print(d.get(40,"Y"))

j
p
Y

In [104]:
#popitem
p={1: 'Y', 2: 'H', 3: 'j', 4: 'V', 5: 'p'}
print(p.popitem())
print(p)

(5, 'p')
{1: 'Y', 2: 'H', 3: 'j', 4: 'V'}

In [1]:
#key() values()
p={1: 'Y', 2: 'H', 3: 'j', 4: 'V', 5: 'p'}
print(p.keys())
print(p.values())
for i in p.keys():
    print(i)
for i in p.values():
    print(i)
for i in p.items():
    print(i)

dict_keys([1, 2, 3, 4, 5])
dict_values(['Y', 'H', 'j', 'V', 'p'])
1
2
3
4
5
Y
H
j
V
p
(1, 'Y')
(2, 'H')
(3, 'j')
(4, 'V')
(5, 'p')

In [4]:
#setdefault()
p={1: 'Y', 2: 'H', 3: 'j', 4: 'V', 5: 'p'}
print(p.setdefault(1,'y'))
print(p)
print(p.setdefault(6,'N'))
print(p)

Y
{1: 'Y', 2: 'H', 3: 'j', 4: 'V', 5: 'p'}
N
{1: 'Y', 2: 'H', 3: 'j', 4: 'V', 5: 'p', 6: 'N'}

In [18]:
#wap that reads from paragraph and stores them as keys in a dict and count the frequency of it as a value
s="the quick browmn for jumps over the lazy dog"
d={}
l=s.split(" ")
for i in l:
    if i not in d.keys():
        k=s.count(i)
        d.setdefault(i,k)
print(d)

{'the': 2, 'quick': 1, 'browmn': 1, 'for': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [24]:
#wap to create a dict with as the first character and values as a list of word starting with that character
s="Don't wait for your feelings to change to take action"
d={}
l=s.split()
for i in l:
    key=i[0]
    if key in d:
        d[key].append(i)
    else:
        d[key]=[i]
print(d)

{'D': ["Don't"], 'w': ['wait'], 'f': ['for', 'feelings'], 'y': ['your'], 't': ['to', 'to', 'take'], 'c': ['change'], 'a': ['action']}

# Set

In [11]:
l=[1,1,1,2,2,3,3,4,5,5,6,6,1]
s=set(s)
print(s)
print(type(s))

a=set(range(5))
print(a)

s1=set("LJIET")
print(s1)

{1, 2, 3, 4, 5, 6}
<class 'set'>
{0, 1, 2, 3, 4}
{'E', 'I', 'J', 'T', 'L'}

# mathematical operators on set

In [13]:
#union()
x={10,20,30}
y={40,50,60}
print(x.union(y))
print(x|y)

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 10, 60, 30}

In [23]:
#intersection
x={10,20,30,40}
y={60,50}
print(x.intersection(y))
print(x&y)

set()
set()

In [19]:
#difference
x={10,20,30,40}
y={40,60,30,50}
print(x.difference(y))
print(x-y)

print(y.difference(x))
print(y-x)

{10, 20}
{10, 20}
{50, 60}
{50, 60}

In [24]:
#symmetric_difference()
x={10,20,30,40}
y={40,60,30,50}
print(x.symmetric_difference(y))
print(x^y)

{10, 50, 20, 60}
{10, 50, 20, 60}

In [29]:
#issubset()
x={"a","b","c"}
y={"a",'b','c','f','e'}
s=x.issubset(y)
print(s)

c=y.issubset(x)
print(c)

a=x.issuperset(y)
print(a)

b=y.issuperset(x)
print(b)

True
False
False
True

In [31]:
#Membership operator for set in not in
s=set("Yashvi")
print(s)
print('l' in s)
print('s' in s)
print('Y' not in s)
print('H' not in s)

{'Y', 'h', 'v', 'a', 'i', 's'}
False
True
False
True

In [34]:
#add()
s=set("Yashvi")
s.add('g')
print(s)

{'Y', 'h', 'v', 'g', 'a', 'i', 's'}

In [37]:
#update()
s={10,20,30}
l=[40,50,60,70]
s.update(l,range(1,5),range(10,20))
print(s)

{1, 2, 3, 4, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 30, 40, 50, 60, 70}

In [39]:
#copy()
s={10,20,30,40}
y=s
y.add(50)
print(s)

{40, 10, 50, 20, 30}

In [2]:
#pop()
s={40, 10, 50, 20, 30}
print(s.pop())
print(s)

40
{10, 50, 20, 30}

In [4]:
s={40, 10, 50, 20, 30}
print(s)
s.remove(40)
print(s)
#s.remove(60) error
print(s)

{40, 10, 50, 20, 30}
{10, 50, 20, 30}
{10, 50, 20, 30}

In [6]:
#discard()
s={40, 10, 50, 20, 30}
print(s)
s.discard(40)
print(s)
s.discard(60) 
print(s)

{40, 10, 50, 20, 30}
{10, 50, 20, 30}
{10, 50, 20, 30}

In [10]:
#clear
s={40, 10, 50, 20, 30}
s.clear()
print(s)

set()

In [14]:
#set comprehension
s={x*x for x in range(1,11)}
print(s)
a={2**x for x in range(2,10,2)}
print(a)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{16, 256, 64, 4}

In [18]:
#frozenset()
l=['apple','banana','cherry']
s=set(l)
s.add("watermelon")
print(s)

s=frozenset(l)
#s.add("watermelon") error 
print(s)

{'banana', 'apple', 'watermelon', 'cherry'}
frozenset({'banana', 'apple', 'cherry'})

In [28]:
#wap to replace word from dict You are given a string , replace its words from lookup of dict
s="CampusX is best for DS STudent"
d={"best":"the best channel","DS":"Data Science"}
l=s.split()
w=[]
for i in l:
    if i in d:
        w.append(d[i])
    else:
        w.append(i)
print(" ".join(w))

CampusX is the best channel for Data Science STudent

In [4]:
#wAP TO REMOVE all occurnce of element from the given list
l=[22,24,30,22,45,48,50,22,33,60,22,48]
j=22
d=[]
for i in l:
    if i!=j:
        d.append(i)
print(d)

[24, 30, 45, 48, 50, 33, 60, 48]

In [20]:
#wap to find the index at which the elements of two list does not match
l1=[1,2,3,4,5,6]
l2=[1,5,3,4,7,8]
for i in l1:
    for j in l2:
        if l1.index(i)==l2.index(j):
            if i!=j:
                l=l2.index(j)
                print(l)

1
4
5

In [11]:
#wap given a list n of a size n you need to count the no of special elemnt in the given list and elemnt is special if removal
#of that makes the list balanced the list will be balanced if sum of even index elemnt is = to sum of odd index elemnt also print the updated list after removal of special elemnt
l=eval(input("Enter List:"))
count=0
for i in range(len(l)):
    x=l.copy()
    x.pop(i)
    s1=s2=0
    for k in x[0::2]:
        s1+=k
    for k in x[1::2]:
        s2+=k
    if s1==s2:
        print("Remove", i)
        count+=1
        print("list after removing index",i,"is",l[0:i]+l[i+1:])
print("total no of special elemnt",count)

Enter List:[5,5,2,5,8]
Remove 0
list after removing index 0 is [5, 2, 5, 8]
Remove 1
list after removing index 1 is [5, 2, 5, 8]
total no of special elemnt 2

# lambda Function

**Lambda argument_list: expresiion**

In [22]:
s= lambda n:n*n
print("The square is :", s(4))
print(s(5))

The square is : 16
25

In [23]:
def square(n):
    return n*n
print(square(5))

25

In [25]:
s= lambda a,b:a+b
print(s(10,20))

30

**1-map()** 

**2-reduce()**

**3-filter()**

In [27]:
#map(function,sequence)
l=[1,2,3,4,5]
def double(x):
    return 2*x
l1=list(map(double,l))
print(l1)

[2, 4, 6, 8, 10]

In [29]:
#with lambda function'
l=[1,2,3,4,5]
l1=list(map(lambda x:x*2,l))
print(l1)

[2, 4, 6, 8, 10]

In [35]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l=list(map(lambda x,y: x**y,l1,l2))
print(l)

[1, 64, 2187, 65536]

In [41]:
#reduce(function,sequence) 
from functools import*
l1=[10,20,30,40,50]
sum=reduce(lambda x,y: x+y,l1)
print(sum)
l=reduce(lambda x,y: x*y,l1)
print(l)

150
12000000

In [46]:
#filter(function,sequence) seq -tuple string-list
def iseven(n):
    if n%2==0:
        return True
    else:
        return False
l=[0,2,10,15,20,30,25]
l1=list(filter(iseven,l))
print(l1)

[0, 2, 10, 20, 30]

In [49]:
l=[0,2,10,15,20,30,25]
l1=list(filter(lambda x:x%2==0,l))
print(l1)

[0, 2, 10, 20, 30]

In [54]:
#wap to convert strings to uppercase using def function
l=["apple","cherry","watermelon"]
uppercase=list(map(str.upper,l))
print(uppercase)

['APPLE', 'CHERRY', 'WATERMELON']

In [56]:
#wap to filter words len greater then 5
l=["apple","cherry","watermelon","Kiwi","Banana"]
w=list(filter(lambda x:len(x)>5,l))
print(w)

['cherry', 'watermelon', 'Banana']